@model User

@{
    ViewData["Title"] = "User Details";
}

<div>
    <h4>User Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name.first)
            &nbsp;
            @Html.DisplayFor(model => model.name.last)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nat)
        </dd>
    </dl>
</div>
